<app-navbar></app-navbar>
<section>
    <form [formGroup]="formEstudiante" (ngSubmit)="procesarGuardado()">
       
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        @if( formEstudiante.get('nombre')!.invalid && formEstudiante.get('nombre')!.touched){
            <p>Campo Requerido</p>
        }
        @else{
            @if(formEstudiante.get('nombre')!.dirty && formEstudiante.get('nombre')!.invalid ){
                <p>Ingrese solo letras</p>
            }
        }

        <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido">
        </mat-form-field>
        @if( formEstudiante.get('apellido')!.invalid && formEstudiante.get('apellido')!.touched){
            <p>Campo Requerido</p>
        }
        @else{
            @if(formEstudiante.get('apellido')!.dirty && formEstudiante.get('apellido')!.invalid){
                <p>Ingrese solo letras</p>
            }
        }

        <mat-form-field>
            <mat-label>Edad</mat-label>
            <input matInput formControlName="edad" type="number">
        </mat-form-field>
        @if( formEstudiante.get('edad')!.invalid && formEstudiante.get('edad')!.touched){
            <p>Campo Requerido</p>
        }

        <mat-form-field>
            <mat-label>Carrera</mat-label>
            <input matInput formControlName="carrera">
        </mat-form-field>
        @if( formEstudiante.get('carrera')!.invalid && formEstudiante.get('carrera')!.touched){
            <p>Campo Requerido</p>
        }
        @else{
            @if(formEstudiante.get('carrera')!.dirty && formEstudiante.get('carrera')!.invalid){
                <p>Ingrese solo letras</p>
            }
        }

        <button mat-raised-button type="submit" color="primary" [disabled]="!formEstudiante.valid">Guardar</button>

    </form>
</section>
